*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

img {
  vertical-align: top;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  cursor: pointer;
}

a:focus,
a:active,
:focus,
:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus,
a:active,
:focus,
:active {
  outline: none;
}

.header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
}

.header_row:first-child {
  background-color: #009fb3;
}

.header_row:last-child {
  background-color: #fff;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 80px;
}

.header_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 100px);
          flex: 0 1 calc(50% - 100px);
  max-width: calc(50% - 100px);
}

.header_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  text-align: center;
  position: absolute;
  top: -80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #009fb3;
}

.header_logo p {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header_logo p:first-child {
  font-family: "UniSans";
  bottom: 60px;
  color: #fff;
  font-size: 40px;
}

.header_logo p:last-child {
  bottom: 45px;
  color: #fff;
  white-space: nowrap;
  font-size: 14px;
  text-transform: lowercase;
}

.header_contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 100px);
          flex: 0 1 calc(50% - 100px);
  max-width: calc(50% - 100px);
}

.header_actions {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  max-width: 40%;
}

.header_info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  max-width: 40%;
}

.menu-header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu-header_link {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  max-width: 33.333%;
  padding: 5px 0px;
}

.menu-header_link a {
  font-family: "Play";
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
  padding: 5px 10px;
  white-space: nowrap;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-header_column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 50%;
  padding: 0px 35px;
}

.contacts-header_column p {
  font-size: 12px;
  color: #fff;
  white-space: nowrap;
}

.contacts-header_column a p {
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
}

.contacts-header_column-first {
  position: relative;
  border-right: 1px solid #fff;
}

.contacts-header_column-first a svg {
  position: absolute;
  left: 0px;
  top: 4px;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.actions-header_enter,
.actions-header_reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header_enter svg,
.actions-header_reg svg {
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.actions-header_enter span,
.actions-header_reg span {
  font-weight: 300;
  font-size: 14px;
  color: #646464;
  border-bottom: 1px dotted #646464;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.actions-header_mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header_mail svg {
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.actions-header_mail span {
  font-weight: 300;
  font-size: 14px;
  color: #646464;
  border-bottom: 1px solid #646464;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.info-header_callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-header_callback svg {
  margin-right: 10px;
  fill: #5d5d5d;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.info-header_callback span {
  font-weight: 300;
  font-size: 14px;
  white-space: nowrap;
  color: #646464;
  border-bottom: 1px dotted #646464;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.info-header_schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-header_schedule svg {
  margin-right: 10px;
}

.info-header_schedule div p {
  font-size: 12px;
  color: #646464;
  font-weight: 300;
}

.info-header_schedule div p span {
  font-weight: 700;
}

.info-header_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #009fb3;
  border-radius: 50%;
  position: relative;
}

.info-header_cart p {
  position: absolute;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  background-color: #f68038;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: -5px;
}

.lock {
  overflow: hidden;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.toggle-burger {
  display: none;
  position: fixed;
  z-index: 9;
  left: 5px;
  top: 15px;
  width: 45px;
  height: 45px;
  background-color: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-icon-wrapper {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: white;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.burger-icon:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -10px;
  width: 30px;
  height: 5px;
  background-color: white;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.burger-icon:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 10px;
  width: 30px;
  height: 5px;
  background-color: white;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.burger-icon.burger-icon-active {
  background-color: inherit;
}

.burger-icon.burger-icon-active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
}

.burger-icon.burger-icon-active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0px;
}

.footer_row {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #dadada;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.footer_row:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.footer_column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
}

.footer_widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_widget {
  margin-left: 10px;
}

.footer_widget:first-child {
  margin-left: 0px;
}

.footer_copy {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 12px;
  color: #999;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
}

.footer_social a {
  display: inline-block;
  margin-left: 10px;
}

.footer_social a img {
  width: 30px;
}

.footer_social a:first-child {
  margin-left: 0px;
}

.info-footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.info-footer_row:last-child {
  margin-bottom: 0px;
}

.info-footer_column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.info-footer_column:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info-footer_logo {
  background-color: #009fb3;
  padding: 10px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.info-footer_logo span {
  font-family: "UniSans";
  display: block;
  font-size: 40px;
}

.info-footer_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 25px;
}

.info-footer_phone a {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  line-height: 24px;
}

.info-footer_phone a:first-child {
  position: relative;
}

.info-footer_phone a:first-child::before {
  content: url(../img/icon/footer/phone.svg);
  position: absolute;
  left: -30px;
  top: 11px;
}

.info-footer_delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-footer_delivery .delivery-title {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: center;
}

.info-footer_delivery picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.info-footer_delivery img {
  width: 100px;
}

.info-footer_pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 50px;
}

.info-footer_pay picture:last-child img {
  margin-right: 0px;
}

.info-footer_pay img {
  width: 100px;
  margin-right: 10px;
}

@font-face {
  font-family: "Play";
  src: url("../fonts/PlayBold.woff2") format("woff2"), url("../fonts/PlayBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoMedium.woff2") format("woff2"), url("../fonts/RobotoMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UniSans";
  src: url("../fonts/UniSans.woff2") format("woff2"), url("../fonts/UniSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px;
}

.page {
  width: 100%;
  padding-top: 160px;
  overflow: hidden;
}

.page_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page_side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 280px;
          flex: 0 0 280px;
}

.page_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  padding-left: 30px;
}

.page_search {
  margin-bottom: 25px;
}

.page_slider {
  margin-bottom: 20px;
}

.page_products {
  margin-bottom: 20px;
}

.page_text {
  margin: 40px auto;
}

.page_info {
  margin-bottom: 40px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.swiper {
  width: 100%;
}

.swiper-product {
  width: 100%;
}

.swiper-brands {
  width: 100%;
}

.menu-page {
  position: relative;
  background-color: #009fb3;
  z-index: 4;
  width: 280px;
  margin-bottom: 40px;
}

.menu-page_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.menu-page_title {
  font-family: "UniSans";
  font-size: 24px;
  color: #fff;
  padding-right: 50px;
}

.menu-page_burger {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  width: 45px;
  height: 45px;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-page_burger-icon-wrapper {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-page_burger-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: white;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.menu-page_burger-icon:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -10px;
  width: 30px;
  height: 5px;
  background-color: white;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.menu-page_burger-icon:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 10px;
  width: 30px;
  height: 5px;
  background-color: white;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.menu-page_burger-icon.menu-page_burger-icon-active {
  background-color: inherit;
}

.menu-page_burger-icon.menu-page_burger-icon-active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
}

.menu-page_burger-icon.menu-page_burger-icon-active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0px;
}

.menu-page_body {
  display: none;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-page_list > li {
  padding: 10px 20px;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-page_list > li:last-child {
  border-bottom: none;
}

.menu-page_link {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  display: block;
}

.menu-page_submenu {
  display: none;
}

.menu-page_parent-link .menu-page_link {
  width: 100%;
}

.menu-page_parent-link.active .menu-page_submenu {
  visibility: visible;
}

.menu-page_parent-link.active .submenu-page_item {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  z-index: 2;
}

.menu-page_active {
  display: block;
}

.submenu-page_item {
  padding: 20px 0px;
  width: 280px;
  background-color: #fff;
  border: 2px solid #009fb3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.submenu-page_list {
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
}

.submenu-page_list li {
  padding: 10px 40px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.submenu-page_link {
  font-weight: 300;
  font-size: 14px;
  color: #009fb3;
  white-space: nowrap;
  display: block;
  max-width: 200px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.news-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.news-page_header {
  font-family: "UniSans";
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #dadada;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.news-page_body {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-page_title {
  margin-bottom: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.news-page_data {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.news-page_data span:first-child {
  font-size: 24px;
  font-weight: 700;
  color: #d8d8d8;
}

.news-page_data span:last-child {
  font-size: 18px;
  font-weight: 300;
  color: #d8d8d8;
}

.news-page_text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  font-size: 12px;
  font-weight: 300;
  color: #666;
  line-height: 18px;
}

.reviews-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.reviews-page_header {
  font-family: "UniSans";
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #dadada;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.reviews-page_body {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews-page_user {
  margin-bottom: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.reviews-page_data {
  margin-bottom: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  text-align: end;
}

.reviews-page_text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-size: 12px;
  font-weight: 300;
  color: #666;
  line-height: 18px;
  padding: 10px 10px 10px 55px;
  position: relative;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.reviews-page_text::before {
  content: '"';
  position: absolute;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  color: #dadada;
  top: 10px;
  left: 15px;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.search-page {
  position: relative;
  z-index: 3;
}

.search-page_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-page_title {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 14px;
  background-color: #f3f3f3;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.search-page_title.active::after {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.search-page_title span {
  margin: 0 10px;
  border-bottom: 1px dotted #666;
  color: #666;
  font-size: 14px;
}

.search-page_title span:last-child {
  display: none;
}

.search-page_title.categories span {
  display: none;
}

.search-page_title.categories span:last-child {
  display: block;
}

.search-page_title::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url(../img/icon/search/search.svg) 0 0 no-repeat;
}

.search-page_title::after {
  content: "";
  width: 10px;
  height: 10px;
  background: url(../img/icon/search/search-arrow.svg) 0 0 no-repeat;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.search-page_categories {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.search-page_input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search-page_input input {
  height: 40px;
  width: 100%;
  border: none;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding: 0px 10px;
}

.search-page_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f68038;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.categories-search {
  background-color: #fff;
  border-bottom: 4px solid #f68038;
  display: none;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.categories-search_row {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories-search_column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  border-right: 1px solid #f3f3f3;
  padding: 25px;
}

.categories-search_column:first-child {
  border-left: 1px solid #f3f3f3;
}

.categories-search_column:nth-child(2) {
  border-left: 1px solid #f3f3f3;
}

.categories-search_list li {
  margin-bottom: 20px;
}

.categories-search_list li:last-child {
  margin-bottom: 0px;
}

.categories-search_active {
  display: block;
}

.checkbox {
  position: relative;
  cursor: pointer;
}

.checkbox_input {
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox_input:checked + .checkbox_text {
  color: #f68038;
}

.checkbox_text {
  color: #999;
  font-weight: 300;
  font-size: 14px;
  white-space: nowrap;
  display: block;
  max-width: 220px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.main-slider {
  position: relative;
}

.main-slider_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-slider_content {
  position: relative;
  z-index: 2;
}

.main-slider_dotts {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  counter-reset: item;
}

.main-slider_dotts .swiper-pagination-bullet {
  bottom: 20px;
  left: 0;
  width: 55px;
  height: 55px;
  opacity: 1;
  border: 3px solid #f3f3f3;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.main-slider_dotts .swiper-pagination-bullet::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f68038;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f3f3f3;
  font-weight: 700;
  font-size: 18px;
  counter-increment: item;
  content: counter(item);
}

.main-slider_dotts .swiper-pagination-bullet-active::after {
  opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 25px;
}

.content-mainslider {
  padding: 20px 35px 60px 35px;
  background-color: rgba(19, 19, 19, 0.7);
}

.content-mainslider_title {
  display: block;
  font-weight: 700;
  font-size: 48px;
  line-height: 43px;
  color: #f3f3f3;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.content-mainslider_title span {
  color: #f68038;
  display: block;
}

.content-mainslider_text {
  display: block;
  margin-bottom: 55px;
}

.content-mainslider_footer {
  text-align: center;
}

.content-mainslider_price {
  font-size: 36px;
  font-weight: 700;
  line-height: 24px;
  color: #f3f3f3;
  margin-bottom: 15px;
}

.content-mainslider_price span {
  font-size: 24px;
}

.content-mainslider_btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  color: #f3f3f3;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 5px 35px 5px 10px;
  border: 3px solid #fff;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  position: relative;
}

.content-mainslider_btn span {
  position: absolute;
  top: 11px;
  right: 10px;
  padding: 5px 10px;
  background: url(../img/icon/double-arrow.svg) right no-repeat;
}

.text-mainslider {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #f3f3f3;
}

.text-mainslider_text01 {
  font-size: 18px;
  color: #f68038;
}

.text-mainslider_text02 {
  display: inline-block;
  padding: 0 5px;
  background-color: #92918e;
}

.text-mainslider_text03 {
  color: #92918e;
}

.item-product {
  padding: 15px 25px;
  position: relative;
}

.item-product_labels {
  position: absolute;
  top: 15px;
  left: 25px;
}

.item-product_label {
  margin-bottom: 5px;
  padding: 3px 10px;
  font-weight: 900;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  background-color: #fd8424;
  border-radius: 10px;
  text-align: center;
}

.item-product_photo {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.item-product_photo img {
  max-width: 220px;
  max-height: 190px;
}

.item-product_title {
  font-weight: 400;
  font-size: 16px;
  color: #009fb3;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.item-product_footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.item-product_old-price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  color: #999;
  font-weight: 300;
  font-size: 18px;
  text-decoration: line-through;
  text-align: right;
}

.item-product_old-price span {
  font-size: 14px;
}

.item-product_add {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  background-color: #999;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.item-product_price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #000;
  font-weight: 900;
  font-size: 24px;
}

.item-product_price span {
  font-size: 18px;
}

.products-slider_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.products-slider_title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #dadada;
  font-family: "UniSans";
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

.products-slider_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-slider_arrow-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.products-slider_arrow-next,
.products-slider_arrow-prev {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.products-slider_arrow-next svg,
.products-slider_arrow-prev svg {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.products-slider_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
  color: #666;
  font-weight: 700;
  font-size: 14px;
}

.products-slider .swiper-pagination-current {
  font-size: 28px;
  color: #f68038;
}

.items-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items-products_column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 15px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.item-product.item-product_slide {
  height: 380px;
  border: 1px solid #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-product.item-product_slide .item-product_body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-product.item-product_slide .item-product_photo {
  margin-bottom: 20px;
}

.item-product.item-product_slide .item-product_title span {
  font-weight: 700;
  display: block;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.product-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  height: 100%;
  z-index: 2;
  padding: 15px;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  border: 5px solid #f68038;
  -webkit-transform: translateY(110%);
      -ms-transform: translateY(110%);
          transform: translateY(110%);
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.product-hover_body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.product-hover_title {
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.product-hover_title span {
  font-weight: 700;
  line-height: 25px;
}

.product-hover_add {
  background-color: #f68038;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.product-hover_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-hover_old-price {
  color: #ffffff;
}

.product-hover_price {
  color: #ffffff;
}

.product-hover_label {
  background-color: #fff;
  border-radius: 15px;
  color: #f68038;
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  padding: 0 10px;
}

.hover-options {
  margin-bottom: 20px;
}

.hover-options_column {
  margin-bottom: 5px;
}

.hover-options_label {
  font-size: 14px;
  color: #fff;
}

.hover-options_value {
  font-size: 14px;
  font-weight: 700;
  color: #f68038;
}

.brands-slider {
  border-top: 3px dashed #dadada;
  border-bottom: 3px dashed #dadada;
  position: relative;
}

.brands-slider_items.container {
  overflow: hidden;
  max-width: 1000px;
  height: 80px;
}

.brands-slider_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brands-slider_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands-slider_item img {
  max-width: 150px;
  max-height: 70px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.brands-slider_item img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.brands-slider_arrow-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 80px;
  -webkit-transform: rotate(180deg) translateY(50%);
      -ms-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.brands-slider_arrow-prev svg {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.brands-slider_arrow-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 80px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.brands-slider_arrow-next svg {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.text-page {
  background-color: #009fb3;
  padding: 35px 35px;
  position: relative;
  width: 100%;
  max-width: 1180px;
}

.text-page_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.text-page_header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-family: "UniSans";
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #22b7ca;
  margin: 0 0 20px 30px;
}

.text-page_column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 20px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

.text-page_column p {
  margin-bottom: 20px;
}

.text-page_column p:last-child {
  margin-bottom: 0;
}

.text-page_title-list {
  font-weight: 700;
  text-transform: uppercase;
}

.text-page_list li {
  text-indent: 35px;
  position: relative;
}

.text-page_list li::after {
  position: absolute;
  content: url(../img/icon/double-arrow-text.svg);
  top: 2px;
  left: -25px;
}

.text-page_image {
  position: absolute;
  bottom: -120px;
  right: 10px;
}

.info-page {
  border-top: 3px dashed #dadada;
  border-bottom: 3px dashed #dadada;
}

.info-page_row {
  display: block;
}

.info-page_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  position: relative;
}

.info-page_column::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 575px;
  background-color: #dadada;
  top: 0px;
  left: -10px;
}

.info-page_column:first-child::after {
  display: none;
}

.info-page_title {
  font-size: 14px;
  font-weight: 700;
}

.info-page_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 300;
}

.info-page_list li a {
  margin-left: 25px;
  color: #1ab9ce;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media (max-width: 1240px) {
  .brands-slider_arrow-prev {
    left: 40px;
  }

  .brands-slider_arrow-next {
    right: 40px;
  }
}

@media (max-width: 1160px) {
  .categories-search_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .categories-search_column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .categories-search_column:first-child {
    padding-bottom: 0;
  }

  .categories-search_column:nth-child(2) {
    padding: 20px 25px;
  }

  .categories-search_column:last-child {
    padding-top: 0;
    border-left: 1px solid #f3f3f3;
  }
}

@media (max-width: 1150px) {
  .footer_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer_column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .footer_column:last-child {
    margin-bottom: 0px;
  }

  .footer_widgets {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .items-products_column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .brands-slider_arrow-prev {
    display: none;
  }

  .brands-slider_arrow-next {
    display: none;
  }
}

@media (max-width: 1140px) {
  .text-page_list li br {
    display: none;
  }

  .text-page_image {
    display: none;
  }
}

@media (max-width: 1110px) {
  .menu-header_link {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 28%;
            flex: 0 1 28%;
    max-width: 28%;
  }

  .contacts-header_column-second {
    padding: 0px 15px;
  }

  .actions-header {
    padding: 10px 0px;
  }

  .info-header {
    padding: 10px 0px;
  }
}

@media (max-width: 1070px) {
  .contacts-header_column a p {
    font-size: 16px;
  }
}

@media (max-width: 990px) {
  .header_top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu-header_list {
    display: block;
    margin-bottom: 20px;
  }

  .menu-header_link a {
    font-size: 20px;
  }

  .contacts-header_column-first {
    border-right: none;
  }

  .contacts-header_column-second {
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .actions-header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .info-header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .info-header_schedule {
    margin-left: 10px;
  }

  .info-header_schedule svg {
    fill: #fff;
  }

  .info-header_schedule div p {
    color: #fff;
  }

  .burger {
    min-width: 320px;
    position: fixed;
    top: 80px;
    left: 0px;
    bottom: 0px;
    background-color: #009eb3;
    z-index: 5;
    padding: 15px;
    overflow-y: scroll;
    -webkit-transform: translateX(-350px);
        -ms-transform: translateX(-350px);
            transform: translateX(-350px);
  }

  .burger-mobile-active {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }

  .toggle-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .page {
    padding-top: 130px;
  }

  .page_container {
    display: block;
  }

  .page_side {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .page_content {
    padding-left: 0px;
  }

  .menu-page {
    width: 100%;
  }

  .items-products_column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.333%;
            flex: 1 1 33.333%;
  }

  .text-page {
    padding: 25px 20px;
  }

  .text-page_header {
    margin: 0 0 15px 30px;
  }
}

@media (max-width: 900px) {
  .text-page {
    padding: 25px 20px 10px 20px;
  }

  .text-page_column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 890px) {
  .header_logo {
    background-color: inherit;
  }

  .header_logo p:first-child {
    bottom: 65px;
  }

  .header_logo p:last-child {
    bottom: 50px;
  }

  .actions-header {
    padding: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .actions-header_enter,
  .actions-header_reg {
    margin-right: 30px;
  }

  .actions-header_enter:last-child,
  .actions-header_reg:last-child {
    margin-right: 0px;
  }

  .actions-header_enter svg,
  .actions-header_reg svg {
    fill: #fff;
  }

  .actions-header_enter span,
  .actions-header_reg span {
    color: #fff;
    border-bottom: 1px dotted #fff;
  }

  .actions-header_mail {
    margin-bottom: 20px;
  }

  .actions-header_mail svg {
    fill: #fff;
  }

  .actions-header_mail span {
    color: #fff;
    border-bottom: 1px dotted #fff;
  }

  .info-header {
    padding: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-header_callback {
    margin-bottom: 20px;
  }

  .info-header_callback svg {
    fill: #fff;
  }

  .info-header_callback span {
    color: #fff;
    border-bottom: 1px dotted #fff;
  }

  .page {
    padding-top: 100px;
  }

  .items-products_column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 720px) {
  .contacts-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .contacts-header_column-first a svg {
    display: none;
  }

  .contacts-header_column-first {
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .info-page_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .info-page_column {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .info-page_column::after {
    display: none;
  }

  .info-page_list {
    display: block;
  }

  .info-page_list li a {
    margin-left: 0px;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .footer_widgets {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer_widget {
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .footer_widget:last-child {
    margin-bottom: 0px;
  }

  .info-footer_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-footer_column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .info-footer_column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .info-footer_column:last-child {
    margin-bottom: 0px;
  }

  .page_slider {
    margin-bottom: 40px;
  }

  .categories-search_column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .categories-search_column:nth-child(2) {
    border-left: 1px solid #f3f3f3;
  }

  .main-slider_dotts {
    display: none;
  }
}

@media (max-width: 580px) {
  .items-products_column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 510px) {
  .products-slider_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .products-slider_title {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .info-footer_row {
    border-top: 1px solid #dadada;
  }

  .info-footer_delivery picture {
    height: 70px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .info-footer_delivery img {
    width: 90px;
  }

  .info-footer_pay {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-footer_pay picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 480px) {
  .search-page_title {
    display: none;
  }

  .search-page_input input {
    border-left: 2px solid #f2f2f2;
  }

  .content-mainslider_title {
    font-size: 38px;
    line-height: 36px;
  }
}

@media (max-width: 400px) {
  .footer_row:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 10px;
  }
}

@media (max-width: 370px) {
  .content-mainslider_title {
    font-size: 28px;
    line-height: 26px;
  }
}

@media (hover: hover) {
  .menu-header_link a:hover {
    background-color: #007585;
  }

  .actions-header_enter:hover svg,
  .actions-header_reg:hover svg {
    fill: #009fb3;
  }

  .actions-header_enter:hover span,
  .actions-header_reg:hover span {
    color: #009fb3;
    border-bottom: 1px dotted #009fb3;
  }

  .actions-header_mail:hover svg {
    fill: #009fb3;
  }

  .actions-header_mail:hover span {
    color: #009fb3;
    border-bottom: 1px solid #009fb3;
  }

  .info-header_callback:hover svg {
    fill: #009fb3;
  }

  .info-header_callback:hover span {
    color: #009fb3;
    border-bottom: 1px dotted #009fb3;
  }

  .menu-page_burger:hover {
    background-color: #007585;
  }

  .menu-page_list > li:hover {
    background-color: #007585;
  }

  .menu-page_submenu {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  .menu-page_parent-link .menu-page_link::after {
    cursor: pointer;
    content: "";
    position: absolute;
    background: url(../img/icon/double-arrow.svg) no-repeat;
    width: 16px;
    height: 16px;
    top: 0;
    right: -10px;
  }

  .submenu-page_list li:hover {
    background-color: #1ab9ce;
  }

  .submenu-page_list li:hover .submenu-page_link {
    color: #fff;
  }

  .news-page_header:hover {
    color: #1ab9ce;
  }

  .news-page_title:hover {
    color: #fd8322;
  }

  .reviews-page_header:hover {
    color: #1ab9ce;
  }

  .reviews-page_body:hover .reviews-page_user,
  .reviews-page_body:hover .reviews-page_data {
    color: #1ab9ce;
  }

  .reviews-page_body:hover .reviews-page_text {
    background-color: #1ab9ce;
    color: #f3f3f3;
  }

  .reviews-page_body:hover .reviews-page_text::before {
    color: #64deee;
  }

  .search-page_title:hover {
    background-color: #e7e7e7;
  }

  .search-page_button:hover {
    background-color: #e25c09;
  }

  .checkbox_text:hover {
    color: #f68038;
  }

  .content-mainslider_btn:hover {
    border: 3px solid #f68038;
  }

  .item-product_title:hover {
    text-decoration: underline;
  }

  .item-product_add:hover {
    background-color: #fd8424;
  }

  .products-slider_arrow-next:hover svg,
  .products-slider_arrow-prev:hover svg {
    fill: #f68038;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  .items-products_column:hover .product-hover {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .items-products_column:hover .item-product_footer {
    opacity: 0;
  }

  .items-products_column:hover .item-product_slide .item-product_title,
  .items-products_column:hover .item-product_slide .item-product_title span {
    opacity: 0;
  }

  .product-hover_add:hover {
    border: 2px solid #fff;
  }

  .brands-slider_arrow-prev:hover svg {
    fill: #f68038;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  .brands-slider_arrow-next:hover svg {
    fill: #f68038;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  .info-page_list li a:hover {
    color: #000;
  }
}
@supports (-webkit-appearance:none){
.search-page_title::before{background:url(../img/icon/search/search.svg) 0 0 no-repeat}
.search-page_title::after{background:url(../img/icon/search/search-arrow.svg) 0 0 no-repeat}
.content-mainslider_btn span{background:url(../img/icon/double-arrow.svg) right no-repeat}
}

 @media (max-width: 1240px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1160px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1150px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1140px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1110px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1070px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 990px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 890px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 720px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 650px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 580px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 510px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 480px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 370px){

@supports (-webkit-appearance:none){

}

}

 @media (hover: hover){

@supports (-webkit-appearance:none){
.menu-page_parent-link .menu-page_link::after{background:url(../img/icon/double-arrow.svg) no-repeat}
}

}
